.coa-ProjectCard {
  width: 300px;
  height: 385px;
  border: 1px solid #979797;
  margin: 2.2rem;
  position: relative;
  text-decoration: none;
  &:last-child {
    margin-right: 0;
  }
}

.coa-ProjectCard__image {
  height: 130px;
  background-size: cover;
  background-position-x: left;
  background-position-y: center;
  background-color: rgba(0, 0, 0, 0.25);
}

.coa-ProjectCard__svg {
  margin-right: .2rem;
}

.coa-ProjectCard__body {
  padding: .75rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.coa-ProjectCard__stage-text {
  padding-top: .1rem;
}

.coa-ProjectCard__stage {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  text-align: right;
  color: #4a4a4a;
  flex: 1 1 0%;
}

.coa-ProjectCard__title-text {
  font-size: 18px;
  font-weight: 600;
  color: #0071bc;
  margin: 1rem 0 .5rem;
  line-height: 2rem;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

.coa-ProjectCard__plain-text {
  font-size: 14px;
  line-height: 1.3;
  color: #212121;
  margin: 0;
}

.coa-ProjectCard__field {
  font-size: 14px;
  flex: 1 1 0%;
  margin: 0;
}

.coa-ProjectCard__label {
  margin: .5rem 0 0;
  font-weight: 600;
  color: #4a4a4a;
}

.icon-clock {
  position: relative;
  top: 3px;
}

.coa-project__comma:not(:first-child) {
  margin-left: -.2em;  
}

.coa-project__comma:empty {
  display: none;
}

.coa-project__comma:not(:first-child):before {
  content: ", ";
}
