// @import "all";
@import 'uswds_variables';
@import '../../../node_modules/uswds/src/stylesheets/uswds';

.coa-flex-container {
  display: flex;
}

.coa-flex-item {
  flex: 1;
}

.coa-flex-wrap {
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
