// @import "all";
@import 'uswds_variables';
@import './uswds-min';
@import 'flexboxgrid';


.coa-flex-container {
  display: flex;
}

.coa-flex-item {
  flex: 1;
}

.coa-flex-wrap {
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

/* position footer on the bottom */
#___gatsby > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.main-content {
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */
  flex: 1;
}